/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
    --color1: #f77762;
    --color2: #da6482;
    --color3: #aa6094;
    --color4: #735d90;
    --color5: #445679;
    --color6: #2f4858;
}
  
body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div{
    margin: 0px;
    padding: 0px;
}


.bg-primary{
    background-color: var(--color1) !important;
}
.text-primary{
    color: var(--color1) !important;
}
.bg-secondary{
    background-color: var(--color2) !important;
}
.text-secondary{
    color: var(--color2) !important;
}
.bg-3{
    background-color: var(--color3) !important;
}
.text-3{
    color: var(--color3) !important;
}
.bg-4{
    background-color: var(--color4) !important;
}
.text-4{
    color: var(--color4) !important;
}
.bg-5{
    background-color: var(--color5) !important;
}
.text-5{
    color: var(--color5) !important;
}
.bg-6{
    background-color: var(--color6) !important;
}
.text-6{
    color: var(--color6) !important;
}



/* ----------------------------------------- */
/*                   HEADER                  */
/* ----------------------------------------- */
header nav{
    border-radius: 1.5em;
}
nav{
    background-color: #f77662ea !important /* Color primary con opacity */ 
}

nav .nav-item{
    padding: 0px .6em;
}
nav .nav-link{
    font-size: 1.2em;
    font-weight: 600;
    transition: font-size 150ms ease-in;
}
nav .nav-link{
    color: #fff;
    letter-spacing: 1px;
}
nav .nav-link:hover:not(.active){
    color: #ccc;
    font-size: 1.4em;
}
nav .nav-link.active{
    color: #ccc!important;
}


header{
    height: 100vh;
    width: 100%;

    background-image: url("../img/fondo-inicio-public.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 9;
}

header::after{
    position: absolute;
    background-color: rgb(0, 0, 0, .3);
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.header__contentText{
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__contentText h1{
    font-weight: 700;
    font-size: 5em;
    text-shadow: 1px 1px black;
    letter-spacing: 5px;
    text-align: center;
}

.header__contentText p{
    font-weight: 600;
    font-size: 2em;
    text-shadow: .8px .8px black;
    letter-spacing: 1px;
    text-align: center;
}

.contentNav{
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    z-index: 9999;
}

@media screen and (max-width: 557px) {
    header {
        background-image: url("../img/fondo-inicio-public-mobile.jpg");
        background-size: 100% 100%;
    }
    main{
        margin-top: 1em!important;
    }
    .header__contentText h1{
        font-size: 2.5em;
    }
    .header__contentText p{
        font-size: 1em;
        font-weight: 700;
    }
}




/* ------------------------------- */
/*              FOOTER             */
/* ------------------------------- */
footer h5{
    text-shadow: 1px 1px var(--color1);
}

.contentRedesSociales a{
    transition: font-size 200ms ease-in;
}
.contentRedesSociales a:hover{
    font-size: 1.2em;
}





/* ------------------------------------- */
/*                  MAIN                 */
/* ------------------------------------- */
.sectionExcursiones .contentImage img{
    height: 400px; 
    width: 100%; 
    object-fit: cover; 
    object-position: center;
}
.sectionExcursiones .contentBody{
    min-height: 100px;
}


@media screen and (max-width: 557px){
    .sectionExcursiones .contentImage img{
        height: 300px; 
    }

    .sectionExcursiones .contentBody{
        min-height: 0px;
    }

    .sectionExcursiones .contentFooter p{
        font-size: 2.5em!important;
    }
}